h1 { font-family: 'Times New Roman'; font-size: 3rem; color: red; } 
p { font-family: Arial; font-size: 1.5rem; color: grey; text-align: justify; margin-left: 2rem;}

body{
  background-color: lightblue;
  text-align: center
}

div.headertitle{
  font-size: 2rem;
  color: white;
  background-color: darkblue;
  width: 100vw;
  height: fit-content;
}

div.foodselection{
  display: flex;
  justify-content: center;
  margin: 1rem
}

h3 {
  margin-left: 2rem;
}

div.salad {

  margin-left: 0;
}